@import url('./bootstrap.min.css');

div.container, div.container-fluid {
    margin-top: 20px;
}

div.album-title {
    padding: 2em;
    background-size: cover;
    background-position: center center;

    h1, p {
        color: white;
        text-shadow: 3px 3px 3px rgba((0), 0, 0, 0.5);
    }
    
    .btn {
        margin-top: 2em;
        font-size: 1.5em;
        line-height: 1.5em;
    }
}

div.album_pictures {
    width: 100%;
    display: block;
}

.avatar {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;

    &.avatar-medium {
        max-width: 64px;
        max-height: 64px;
    }

    &.avatar-mini {
        max-width: 24px;
        max-height: 24px;
    }

    &.avatar-micro {
        max-width: 16px;
        max-height: 16px;
    }
}

span.like i {
    color: lightskyblue;
}

.alert{
    a {
        text-decoration: none;
    }

    .btn {
        color: white;
    }
}

.card.bg-light.editable {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.card.bg-light.editable img {
  width: 100%;
  height: auto;
}

.card.bg-light.editable .btn {
  position: absolute;
  top: 0%;
  left: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
