{% extends 'base.html.twig' %}

{% block title %}Liste des albums !{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-3">Albums</h1>

    <div class="row">
        {% for album in albums %}
            {% include 'album/_album.html.twig' with {'album':album}%}
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>

    function onClickBtnLike(event) {
        event.preventDefault();
        const url = this.href;
        const spanCount = this.querySelector('span.js-likes');
        const icone = this.querySelector('i');

        axios.get(url).then(function (response) {
            spanCount.textContent = response.data.likes;

            if (icone.classList.contains('fas')) {
                icone.classList.replace('fas', 'far');
            } else {
                icone.classList.replace('far', 'fas');
            }
        }).catch(function (error) {
            if (error.response.status === 403) {
                window.alert("Vous ne pouvez pas liker un article en étant déconnecté !")
            }
        });
    }

    document.querySelectorAll('a.js-like').forEach(function (link) {
        link.addEventListener('click', onClickBtnLike);
    })

</script>
{% endblock %}
