{% extends 'base.html.twig' %}

{% block title %}Liste des albums !{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-3">Albums</h1>

    <div class="row">
        {% for album in albums %}
            {% include 'album/_album.html.twig' %}
        {% endfor %}
    </div>
</div>
{% endblock %}
