{% extends 'base.html.twig' %}

{% block title %}Liste des albums !{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-3">Albums</h1>

    <div class="row">
        {% for i in 0..20 %}
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres, <strong>49&euro;</strong> / nuit <br>
                        <small>Pas encore évalué</small>
                    </div>
                    <img scr="http://placehold.it/1000x400" alt="Image de l'appartement" style="height: 200px; witdth: 100%; display: block;">
                    <div class="card-body">
                        <h4 class="card-title">Appartement de ouf</h4>
                        <p class="card-text">
                            Orme ipsum, dolotn dejhaazeiurh deijjosxn edejeidhe ouh peuhdeuhdeiudh ideieje d. Oihdeiddhe dedeijdeij eigquyasjxsqwn.
                        </p>
                        <a href="#" class="btn btn-primary">En savoir plus !</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
