{% extends 'base.html.twig' %}

{% block title %}Création d'un nouvel album !{% endblock %}

{% form_theme form 'album/_collection.html.twig' %}

{% block body %}
<div class="container">
    <h1 class="my-3">Créer un nouvel album</h1>
    <div class="row">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        
        <button type="submit" class="btn btn-primary">Créer l'album</button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="/js/album.js"></script>
{% endblock %}