{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron mt-3">
        <h1 class="display-3">Bienvenue sur la gallerie de la famille Bar-Desespringalle</h1>
        <p class="lead">Vous retrouverez ici l'ensemble des photos prises lors des différents évènements familiaux, ou tout simplement les photos concernant la famille.</p>
        <hr class="my-4">
        <p>Vous êtes un Bar-Desespringalle ? N'hésitez pas à vous inscrire.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
    <h2>Nos appartements star</h2>
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3 chambres, <strong>49&euro;</strong> / nuit <br>
                    <small>Pas encore évalué</small>
                </div>
                <img scr="http://placehold.it/1000x400" alt="Image de l'appartement" style="height: 200px; witdth: 100%; display: block;">
                <div class="card-body">
                    <h4 class="card-title">Appartement de ouf</h4>
                    <p class="card-text">
                        Orme ipsum, dolotn dejhaazeiurh deijjosxn edejeidhe ouh peuhdeuhdeiudh ideieje d. Oihdeiddhe dedeijdeij eigquyasjxsqwn.
                    </p>
                    <a href="#" class="btn btn-primary">En savoir plus !</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3 chambres, <strong>49&euro;</strong> / nuit <br>
                    <small>Pas encore évalué</small>
                </div>
                <img scr="http://placehold.it/1000x400" alt="Image de l'appartement" style="height: 200px; witdth: 100%; display: block;">
                <div class="card-body">
                    <h4 class="card-title">Appartement de ouf</h4>
                    <p class="card-text">
                        Orme ipsum, dolotn dejhaazeiurh deijjosxn edejeidhe ouh peuhdeuhdeiudh ideieje d. Oihdeiddhe dedeijdeij eigquyasjxsqwn.
                    </p>
                    <a href="#" class="btn btn-primary">En savoir plus !</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3 chambres, <strong>49&euro;</strong> / nuit <br>
                    <small>Pas encore évalué</small>
                </div>
                <img scr="http://placehold.it/1000x400" alt="Image de l'appartement" style="height: 200px; witdth: 100%; display: block;">
                <div class="card-body">
                    <h4 class="card-title">Appartement de ouf</h4>
                    <p class="card-text">
                        Orme ipsum, dolotn dejhaazeiurh deijjosxn edejeidhe ouh peuhdeuhdeiudh ideieje d. Oihdeiddhe dedeijdeij eigquyasjxsqwn.
                    </p>
                    <a href="#" class="btn btn-primary">En savoir plus !</a>
                </div>
            </div>
        </div>
    </div>
    <h2>Nos propriétaires stars</h2>
    <div class="row mt-3">
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">Madje</h4>
                    <hr>
                    <div class="card-text">
                        <img src="http://placehold.it/64x64" alt="Avatar de Madje" class="float-left mr-3">
                        <p>
                            Pijdeiha, deddudeuqaijce ecececi cecihocijqc oic oichjqocoehc âchcicuh ea iceaccrc, uhdeouahouhceuhce.
                        </p>
                        <a href="#" class="btn btn-success float-right">En savoir plus !</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">Madje</h4>
                    <hr>
                    <div class="card-text">
                        <img src="http://placehold.it/64x64" alt="Avatar de Madje" class="float-left mr-3">
                        <p>
                            Pijdeiha, deddudeuqaijce ecececi cecihocijqc oic oichjqocoehc âchcicuh ea iceaccrc, uhdeouahouhceuhce.
                        </p>
                        <a href="#" class="btn btn-success float-right">En savoir plus !</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}