{% extends 'base.html.twig' %}

{% block title %}Titre de la page home{% endblock %}

{% block header %}
<h2>Voici le header</h2>
{% endblock %}

{% block body %}
<h1>Coucou tout le monde</h1>
{% endblock %}