<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ title }}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}bonjour comment allez vous ?
            {% if age >= 18 %}
                <p>vous êtes adulte</p>
            {% else %}
                <p>vous êtes un enfant</p>
            {% endif %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
