{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
    <div class="container">
        <h1>La page que vous recherchez n'existe pas !</h1>
        <p>Pas de problème, vous pouvez retourner à l'accueil ou voir nos derniers albums photos...</p>
        <a href="{{ path('homepage') }}" class="btn btn-primary">Retour à l'accueil</a>
        <a href="{{ path('albums_index') }}" class="btn btn-success">Liste des albums</a>
    </div>
{% endblock %}